In [99]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
### Informativeness

In [117]:
df=pd.read_csv('../HULK/Counterspeech/Datasets/Toxicity/train.csv')

In [118]:
df

,id,text,labels
0,da436ad42040d6df,", 25 March 2013 (UTC)\n\nThat's some strange i...",non_toxic
1,d1dde89e13a40d9e,"""\n{| style=""""background-color: #F5FFFA; paddi...",non_toxic
2,93eea8c681dafacb,You Republic of Turkey and supporters therof a...,toxic
3,936de6e44a0da6dd,I have commented on them in my unblock reason....,non_toxic
4,ddff1e8e856f1bf4,Very interesting comments about the purpose an...,non_toxic
...,...,...,...
143608,7c5340ecf0cee34e,"""\nuser:RoverTheBendInSussex Flipping heck, Ro...",non_toxic
143609,ac4eba6bed0673f4,its MY TALK PAGE . HELLO CAN YOU NOT SEE THAT....,non_toxic
143610,57460574ab9fb651,The question is what should I do? — Alex(|C|E),non_toxic
143611,a52172a498d1638c,"oops, I saw blocking warning on your page as w...",non_toxic
143612,2f1e0aec3d985180,I mean you Sandy Fuckin' George,toxic

In [ ]:
df_test_labels=pd.read_csv('../HULK/Counterspeech/Datasets/Toxicity/test_labels.csv')
df_test=pd.read_csv('../HULK/Counterspeech/Datasets/Toxicity/test.csv')



df_test=df_test.merge(df_test_labels, left_on='id', right_on='id')

In [ ]:
len(df_test)

In [ ]:
tuple_head=[]
for index,row in df_test.iterrows():
    tuple_temp=[row['id'], row['comment_text']]
    flag=0
    for ele in list(df.columns[2:]):
        if(row[ele]==1):
            tuple_temp.append('toxic')
            flag=1
            break
    if(flag==0):
        tuple_temp.append('non_toxic')
    tuple_head.append(tuple_temp)
df_new_test=pd.DataFrame(tuple_head,columns=['id','text','labels'])

In [ ]:
tuple_head=[]
for index,row in df.iterrows():
    tuple_temp=[row['id'], row['comment_text']]
    flag=0
    for ele in list(df.columns[2:]):
        if(row[ele]==1):
            tuple_temp.append('toxic')
            flag=1
            break
    if(flag==0):
        tuple_temp.append('non_toxic')
    tuple_head.append(tuple_temp)
df_new=pd.DataFrame(tuple_head,columns=['id','text','labels'])

In [ ]:
X_train, X_val = train_test_split(df_new, test_size=0.1,random_state=42,stratify=df_new['labels'])
X_train.to_csv('../HULK/Counterspeech/Datasets/Toxicity/Train.csv',index=False)
X_val.to_csv('../HULK/Counterspeech/Datasets/Toxicity/Val.csv',index=False)

In [ ]:
df_new_test.to_csv('../HULK/Counterspeech/Datasets/Toxicity/Test.csv',index=False)

### Dialect

In [81]:
import csv

list_lines=[]
count=0
with open('../HULK/Counterspeech/Datasets/Dialect/TwitterAAE-full-v1/twitteraae_all_aa') as tsv:
    for line in csv.reader(tsv, dialect="excel-tab"): #You can also use delimiter="\t" rather than giving a dialect.
        if(len(line)<14):
            line=line[0:6]+['NA']*4+line[6:10]
        if(len(line)>14):
            count+=1
        else:
            list_lines.append(line)

In [82]:
count

179

In [83]:
df=pd.DataFrame(list_lines)

In [84]:
columns=['tweet_IDs', 'tweet_timestamps', 'user_ID', 'tweet-longitudes-latitudes', 'temp','tweet','NA','NA','NA','NA','AA', 'Hispanic', 'Other', 'White']
df.columns=columns

In [85]:
df

,tweet_IDs,tweet_timestamps,user_ID,tweet-longitudes-latitudes,temp,tweet,NA,NA,NA,NA,AA,Hispanic,Other,White
0,293846693215096832,Tue Jan 22 22:24:45 +0000 2013,1028920752,"[-80.01040975, 32.80108357]",450190027021,Click Clack Motha Fucka I ain't tryin to hear ...,NA,NA,NA,NA,0.894545454545,0.0163636363636,0.0,0.0890909090909
1,288532237186646016,Tue Jan 08 06:27:00 +0000 2013,1040150983,"[-87.322161, 41.6006888]",180890106001,Man imissed a called from my bae hella mad -_-...,NA,NA,NA,NA,0.942,0.058,0.0,0.0
2,289899995472224257,Sat Jan 12 01:01:59 +0000 2013,1068611971,"[-78.85113963, 42.909513]",360290033021,@devontekthomas OMG I keep sayin boo wen I mea...,NA,NA,NA,NA,0.951111111111,0.0311111111111,0.0,0.0177777777778
3,289901379869351936,Sat Jan 12 01:07:29 +0000 2013,1068611971,"[-78.8510475, 42.90955088]",360290033021,@devontekthomas I did not mean to say dat,NA,NA,NA,NA,0.957142857143,0.0342857142857,0.0,0.00857142857143
4,289902453367910401,Sat Jan 12 01:11:45 +0000 2013,1068611971,"[-78.85107559, 42.90955579]",360290033021,@devontekthomas awww u do too,NA,NA,NA,NA,0.975,0.01,0.0,0.015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1147957,411962043273838592,Sat Dec 14 20:52:59 +0000 2013,847779924,"[-76.6672756, 39.3247266]",245101511003,S/O to mi #NF @VillayMusic,NA,NA,NA,NA,0.87,0.0,0.1,0.03
1147958,412144961187237888,Sun Dec 15 08:59:50 +0000 2013,847779924,"[-76.6691758, 39.3169376]",245101507012,S/O to mi #NF @Wizmiharez,NA,NA,NA,NA,0.83,0.005,0.075,0.09
1147959,413802894128087040,Thu Dec 19 22:47:52 +0000 2013,847779924,"[-76.6636053, 39.3265908]",245101505001,S/O to mi #NF @ZolexDe,NA,NA,NA,NA,0.855,0.0,0.095,0.05
1147960,412286992790339584,Sun Dec 15 18:24:13 +0000 2013,97004590,"[-84.95087723, 32.60678422]",132150102031,@Dj_Fly_Guy u str8,NA,NA,NA,NA,0.85,0.02,0.0,0.13
1147961,409054967132336128,Fri Dec 06 20:21:18 +0000 2013,990654176,"[-92.2886571, 34.729104]",051190047002,I SEE HOES TRYNA LEAVE OUT OF 2013 WIT A GOOD ...,NA,NA,NA,NA,0.995384615385,0.0,0.00461538461538,0.0

### Emotion

In [96]:
import pandas as pd

df = pd.read_pickle(r'../HULK/Counterspeech/Datasets/Emotion/merged_training.pkl')

In [112]:
df.columns=['text','labels']

In [113]:
df

                                                     text   labels
27383   i feel awful about it too because it s my job ...  sadness
110083                              im alone i feel awful  sadness
140764  ive probably mentioned this before but i reall...      joy
100071           i was feeling a little low few days back  sadness
2837    i beleive that i am much more sensitive to oth...     love
...                                                   ...      ...
566     that was what i felt when i was finally accept...      joy
36236   i take every day as it comes i m just focussin...     fear
76229       i just suddenly feel that everything was fake  sadness
131640  im feeling more eager than ever to claw back w...      joy
64703   i give you plenty of attention even when i fee...  sadness

[416809 rows x 2 columns]

In [115]:
X_train, X_val_test = train_test_split(df, test_size=0.2,random_state=42,stratify=df['labels'])
X_val, X_test = train_test_split(X_val_test, test_size=0.5,random_state=42,stratify=X_val_test['labels'])

In [116]:
X_train.to_csv('../HULK/Counterspeech/Datasets/Emotion/Train.csv',index=False)
X_val.to_csv('../HULK/Counterspeech/Datasets/Emotion/Val.csv',index=False)
X_test.to_csv('../HULK/Counterspeech/Datasets/Emotion/Test.csv',index=False)

In [ ]:
df_polite=pd.read_csv('../HULK/Counterspeech/Datasets/Politeness/politeness.tsv',sep='\t')
df_polite.head(5)

In [ ]:
tuple_head=[]
for index,row in df_polite[df_polite['split']=='train'].iterrows():
    tuple_temp=[row['txt']]
    if(row['style']=='P_9'):
        tuple_temp.append('polite')
    else:
        tuple_temp.append('non_polite')
    tuple_head.append(tuple_temp)
df_polite_train=pd.DataFrame(tuple_head,columns=['text','labels'])

In [ ]:
df_polite_train.to_csv('../HULK/Counterspeech/Datasets/Politeness/Train.csv',index=False)

In [ ]:
tuple_head=[]
for index,row in df_polite[df_polite['split']=='val'].iterrows():
    tuple_temp=[row['txt']]
    if(row['style']=='P_9'):
        tuple_temp.append('polite')
    else:
        tuple_temp.append('non_polite')
    tuple_head.append(tuple_temp)
df_polite_val=pd.DataFrame(tuple_head,columns=['text','labels'])

In [ ]:
df_polite_val.to_csv('../HULK/Counterspeech/Datasets/Politeness/Val.csv',index=False)

In [ ]:
tuple_head=[]
for index,row in df_polite[df_polite['split']=='test'].iterrows():
    tuple_temp=[row['txt']]
    if(row['style']=='P_9'):
        tuple_temp.append('polite')
    else:
        tuple_temp.append('non_polite')
    tuple_head.append(tuple_temp)
df_polite_test=pd.DataFrame(tuple_head,columns=['text','labels'])

In [ ]:
df_polite_test.to_csv('../HULK/Counterspeech/Datasets/Politeness/Test.csv',index=False)

In [ ]:
len(df_polite_train)

In [ ]:
df_train=pd.read_csv('../HULK/Counterspeech/Datasets/Humour/train.csv')
df_test=pd.read_csv('../HULK/Counterspeech/Datasets/Humour/dev.csv')
df_total=pd.read_csv('../HULK/Counterspeech/Datasets/Humour/dataset.csv')

In [ ]:
label=[]

for index,row in df_train.iterrows():
    if(row['humor']==True):
        label.append('humor')
    else:
        label.append('non-humor')
        
df_train['labels']=label

In [ ]:
label=[]

for index,row in df_test.iterrows():
    if(row['humor']==True):
        label.append('humor')
    else:
        label.append('non-humor')
        
df_test['labels']=label

In [ ]:
X_val, X_test = train_test_split(df_test, test_size=0.5,random_state=42,stratify=df_test['labels'])
df_train.to_csv('../HULK/Counterspeech/Datasets/Humour/Train.csv',index=False)
X_test.to_csv('../HULK/Counterspeech/Datasets/Humour/Test.csv',index=False)
X_val.to_csv('../HULK/Counterspeech/Datasets/Humour/Val.csv',index=False)

#### Data generation save

In [ ]:
### Save the CONAN, Reddit/Gab dataset, create debate dataset 
### Columns - id, initiator_message, reply_message
import json
with open('../HULK/Counterspeech/Datasets/Create_debate/selected_arguments.json', 'r') as fp:
        dict_urls=json.load(fp)
        
total_data_sentences=[]
for key in dict_urls:
    dict_temp=dict_urls[key]['selected_arguments']
    
    stance=[]
    for ele in dict_temp:
        stance.append(ele['reply_stance'])
    
    stance=list(set(stance))
    
    for ele in dict_temp:
        ele['title']=dict_urls[key]['title']
        ele['stance_list']=stance
        total_data_sentences.append(ele)

In [ ]:
total_data_sentences[0:5]

In [ ]:
df=pd.DataFrame(total_data_sentences)

In [ ]:
X_train, X_test_dev = train_test_split(df, test_size=0.2, random_state=42, shuffle=True)
X_test, X_dev = train_test_split(X_test_dev, test_size=0.5, random_state=42, shuffle=True)

In [ ]:
X_train.to_csv('../HULK/Counterspeech/Datasets/Create_debate/Train.csv')
X_dev.to_csv('../HULK/Counterspeech/Datasets/Create_debate/Val.csv')
X_test.to_csv('../HULK/Counterspeech/Datasets/Create_debate/Test.csv')

In [ ]:
X_train

In [ ]:
df=pd.read_csv('../HULK/Counterspeech/Datasets/Reddit/reddit.csv')

In [ ]:
df

### Reddit Data preparing

In [ ]:
import pandas as pd
#Data Input and Preprocessing which is data specific
data = pd.read_csv('../HULK/Counterspeech/Datasets/Gab/gab.csv')
data_mod = pd.DataFrame([[]])

for row in range(len(data["id"])):
    #print(data["id"][row])
    data["id"][row]=(data["id"][row].splitlines())
    for num in range(len(data["id"][row])):
        strin=''.join(data["id"][row][num].split())
        newstr='';
        for i in range(len(strin)-2):
            newstr+=strin[i+2]
        data["id"][row][num]=newstr

for row in range(len(data["hate_speech_idx"])):
        if data["hate_speech_idx"][row]=='n/a':
            data["hate_speech_idx"][row]="[0]"

for row in range(len(data["hate_speech_idx"])):
        if data["hate_speech_idx"][row]=='n/a':
            data["hate_speech_idx"][row]="[0]"

for row in range(len(data["hate_speech_idx"])):
        if isinstance(data["hate_speech_idx"][row],float):
            data["hate_speech_idx"][row]="[0]"  

for row in range(len(data["response"])):
        if isinstance(data["response"][row],float):
            data["response"][row]='This is normal'
            
for row in range(len(data["text"])):
    #print(data["id"][row])
    data["text"][row]=(data["text"][row].splitlines())
    for num in range(len(data["text"][row])):
        strin=' '.join(data["text"][row][num].split())
        newstr='';
        for i in range(len(strin)-2):
            newstr+=strin[i+2]
        data["text"][row][num]=newstr
    
    data["hate_speech_idx"][row]=data["hate_speech_idx"][row].strip('][').split(', ');
    data["hate_speech_idx"][row]=list(map(int, data["hate_speech_idx"][row]))
    data["response"][row] = data["response"][row].replace("\"","\'")
    data["response"][row] = data["response"][row].replace("[\'","")
    data["response"][row] = data["response"][row].replace("\']","")
    data["response"][row] = data["response"][row].split('\', \'');
    
    for idx in data["hate_speech_idx"][row]:
        if idx!=0 and idx<=len(data["text"][row]):
            bad=idx-1;
#            print(bad)
            for resp in data["response"][row]:
                newrow=pd.Series([data["text"][row][bad],resp])
                rowdf=pd.DataFrame([newrow])
                data_mod=pd.concat([data_mod,rowdf],ignore_index=True)
                #print("done")

In [ ]:
data_mod=data_mod[1:]

In [ ]:
data_mod.columns=['initiator_message','reply_message']

In [ ]:
data_mod=data_mod[(data_mod['reply_message']!='NA') & (data_mod['reply_message']!='n/a') & (data_mod['reply_message']!='N/A') & (data_mod['initiator_message']!='') & (data_mod['reply_message']!='')]

In [ ]:
X_train, X_test_dev = train_test_split(data_mod, test_size=0.2, random_state=42, shuffle=True)
X_test, X_dev = train_test_split(X_test_dev, test_size=0.5, random_state=42, shuffle=True)

In [ ]:
X_train.iloc[9166]['reply_message']

In [ ]:
X_train.to_csv('../HULK/Counterspeech/Datasets/Gab/Train.csv')
X_dev.to_csv('../HULK/Counterspeech/Datasets/Gab/Val.csv')
X_test.to_csv('../HULK/Counterspeech/Datasets/Gab/Test.csv')

In [3]:
df=pd.read_json('../HULK/Counterspeech/Datasets/CONAN/CONAN.json')

In [10]:
df=df[df['cn_id'].str.contains("EN")]

In [11]:
df_new=df[['cn_id','hateSpeech','counterSpeech']]

In [12]:
df_new.columns=['cn_id','initiator_message','reply_message']

In [15]:
X_train, X_test_dev = train_test_split(df_new, test_size=0.2, random_state=42, shuffle=True)
X_test, X_dev = train_test_split(X_test_dev, test_size=0.5, random_state=42, shuffle=True)

In [16]:
X_train.to_csv('../HULK/Counterspeech/Datasets/CONAN/Train.csv')
X_dev.to_csv('../HULK/Counterspeech/Datasets/CONAN/Val.csv')
X_test.to_csv('../HULK/Counterspeech/Datasets/CONAN/Test.csv')

### CONAN dataset